{"openapi":"3.0.3","info":{"title":"ConfigHub API","description":"ConfigHub API","termsOfService":"TBD","contact":{"name":"ConfigHub Support","url":"https://confighub.com/","email":"hello@confighub.com"},"license":{"name":"N/A","url":"https://confighub.com/TBD"},"version":"0.1.0"},"servers":[{"url":"https://hub.confighub.com/api","description":"production"},{"url":"http://localhost:9090/api","description":"local"}],"security":[{"bearerAuth":[]}],"paths":{"/_space":{"delete":{"tags":["Space"],"summary":"Bulk delete multiple spaces","description":"Delete multiple spaces selected by query parameters","operationId":"BulkDeleteSpaces","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Spaces returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Space: CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the Space list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Space).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for Space include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for Space.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for Space are OrganizationID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"recursive","in":"query","description":"Valid values are true and false. False is the default if unspecified. If true, recursively delete all entities within the deleted space(s).","required":false,"schema":{"type":"string"}}],"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"400":{"description":"Space request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"Space not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"422":{"description":"Unable to delete entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing Space.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"patch":{"tags":["Space"],"summary":"Bulk patch multiple spaces","description":"Apply JSON merge patch to multiple spaces selected by query parameters","operationId":"BulkPatchSpaces","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Spaces returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Space: CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the Space list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Space).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for Space include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for Space.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for Space are OrganizationID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"type":"object","properties":{"Annotations":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Annotation key/value pairs for tools to attach information to entities.","nullable":true},"DeleteGates":{"type":"object","additionalProperties":{"type":"boolean","nullable":true},"description":"An optional set of gates that, if any is present, will block deletion","nullable":true},"DisplayName":{"type":"string","description":"Friendly name for the entity.","nullable":true},"Labels":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Label key/value pairs to specify identifying attributes of entities for the purpose of grouping and filtering them.","nullable":true},"Slug":{"type":"string","description":"Unique URL-safe identifier for the entity.","nullable":true},"Version":{"type":"integer","description":"An entity-specific sequence number used for optimistic concurrency control. The value read must be sent in calls to Update.","nullable":true},"WhereTrigger":{"type":"string","description":"","nullable":true}},"description":"JSON Merge Patch schema for Space. All fields are optional and nullable. Readonly fields are ignored."}}}},"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceCreateOrUpdateResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceCreateOrUpdateResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceCreateOrUpdateResponse"}}}}},"400":{"description":"Space request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"Space not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing Space.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"post":{"tags":["Space"],"summary":"Bulk create (clone) multiple spaces","description":"Clone multiple spaces selected by query parameters with optional name prefixes","operationId":"BulkCreateSpaces","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Spaces returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Space: CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the Space list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Space).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for Space include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for Space.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for Space are OrganizationID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"name_prefixes","in":"query","description":"Comma-separated list of prefixes to apply to cloned Space names","required":false,"schema":{"type":"string"}},{"name":"allow_exists","in":"query","description":"Allowed values are true and false. Default is false. When true, reports success when an entity already exists and returns the existing entity","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"type":"object","properties":{"Annotations":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Annotation key/value pairs for tools to attach information to entities.","nullable":true},"DeleteGates":{"type":"object","additionalProperties":{"type":"boolean","nullable":true},"description":"An optional set of gates that, if any is present, will block deletion","nullable":true},"DisplayName":{"type":"string","description":"Friendly name for the entity.","nullable":true},"Labels":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Label key/value pairs to specify identifying attributes of entities for the purpose of grouping and filtering them.","nullable":true},"Slug":{"type":"string","description":"Unique URL-safe identifier for the entity.","nullable":true},"Version":{"type":"integer","description":"An entity-specific sequence number used for optimistic concurrency control. The value read must be sent in calls to Update.","nullable":true},"WhereTrigger":{"type":"string","description":"","nullable":true}},"description":"JSON Merge Patch schema for Space. All fields are optional and nullable. Readonly fields are ignored."}}}},"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceCreateOrUpdateResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceCreateOrUpdateResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SpaceCreateOrUpdateResponse"}}}}},"400":{"description":"Space request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"Space not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing Space.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}}},"/bridge_worker":{"delete":{"tags":["BridgeWorker"],"summary":"Bulk delete multiple bridge workers","description":"Delete multiple bridge workers selected by query parameters","operationId":"BulkDeleteBridgeWorkers","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of BridgeWorkers returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on BridgeWorker: BridgeWorkerID, CreatedAt, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt, UserID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the BridgeWorker list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (BridgeWorker).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for BridgeWorker include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for BridgeWorker.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for BridgeWorker are OrganizationID, SpaceID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"400":{"description":"BridgeWorker request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"BridgeWorker not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"422":{"description":"BridgeWorker could not be deleted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing BridgeWorker.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"get":{"tags":["BridgeWorker"],"summary":"List all BridgeWorker across spaces","description":"List all BridgeWorker across spaces","operationId":"ListAllBridgeWorkers","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of BridgeWorkers returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on BridgeWorker: BridgeWorkerID, CreatedAt, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt, UserID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for BridgeWorker include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for BridgeWorker.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for BridgeWorker are OrganizationID, SpaceID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"select","in":"query","description":"Select clause for specifying which fields to include in the response for BridgeWorker.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\nIf not specified, all fields are returned.\nEntity and parent IDs (like OrganizationID, SpaceID, BridgeWorkerID) and Slug are always returned regardless of the select parameter.\nFields used in where and contains filters are also automatically included.\nExample: 'DisplayName,CreatedAt,Labels' will return only those fields plus the required ID and Slug fields.\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"summary","in":"query","description":"Include summary information in the response","required":false,"schema":{"type":"boolean"}}],"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedBridgeWorker"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedBridgeWorker"}}}}}}},"patch":{"tags":["BridgeWorker"],"summary":"Bulk patch multiple bridge workers","description":"Apply JSON merge patch to multiple bridge workers selected by query parameters","operationId":"BulkPatchBridgeWorkers","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of BridgeWorkers returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on BridgeWorker: BridgeWorkerID, CreatedAt, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt, UserID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the BridgeWorker list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (BridgeWorker).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for BridgeWorker include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for BridgeWorker.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for BridgeWorker are OrganizationID, SpaceID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"type":"object","properties":{"Annotations":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Annotation key/value pairs for tools to attach information to entities.","nullable":true},"Condition":{"type":"string","description":"","nullable":true},"DeleteGates":{"type":"object","additionalProperties":{"type":"boolean","nullable":true},"description":"An optional set of gates that, if any is present, will block deletion","nullable":true},"DisplayName":{"type":"string","description":"Friendly name for the entity.","nullable":true},"Labels":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Label key/value pairs to specify identifying attributes of entities for the purpose of grouping and filtering them.","nullable":true},"Slug":{"type":"string","description":"Unique URL-safe identifier for the entity.","nullable":true},"Version":{"type":"integer","description":"An entity-specific sequence number used for optimistic concurrency control. The value read must be sent in calls to Update.","nullable":true}},"description":"JSON Merge Patch schema for BridgeWorker. All fields are optional and nullable. Readonly fields are ignored."}}}},"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BridgeWorkerCreateOrUpdateResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BridgeWorkerCreateOrUpdateResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BridgeWorkerCreateOrUpdateResponse"}}}}},"400":{"description":"BridgeWorker request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"BridgeWorker not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing BridgeWorker.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}}},"/bridge_worker/{bridge_worker_id}/action_result":{"post":{"tags":["BridgeWorker"],"summary":"Create action result","description":"Records the status/result of an action executed by a bridge worker","operationId":"CreateActionResult","parameters":[{"name":"bridge_worker_id","in":"path","description":"Unique identifier for a bridge_worker_id","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActionResult"}}}},"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"string"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"BridgeWorker request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"BridgeWorker not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing BridgeWorker.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}}},"/bridge_worker/{bridge_worker_id}/me":{"get":{"tags":["BridgeWorker"],"summary":"Gets the current BridgeWorker from context","description":"Gets the current BridgeWorker from context","operationId":"GetSelf","parameters":[{"name":"bridge_worker_id","in":"path","description":"Unique identifier for a bridge_worker_id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"default":{"description":"BridgeWorker represents a bridge worker in ConfigHub.\nA bridge worker is a worker program that connects ConfigHub to external systems and targets.\nIt acts as a bridge between ConfigHub and the infrastructure where configurations need\nto be applied. Bridge workers are responsible for executing configuration changes on\nremote targets and reporting status back to ConfigHub.\nWhen starting a bridge worker program, both the BridgeWorkerID and Secret are\nrequired for authentication with the ConfigHub server. These credentials allow the\nbridge worker to establish a secure connection and receive configuration actions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BridgeWorker"}}}},"200":{"description":"BridgeWorker represents a bridge worker in ConfigHub.\nA bridge worker is a worker program that connects ConfigHub to external systems and targets.\nIt acts as a bridge between ConfigHub and the infrastructure where configurations need\nto be applied. Bridge workers are responsible for executing configuration changes on\nremote targets and reporting status back to ConfigHub.\nWhen starting a bridge worker program, both the BridgeWorkerID and Secret are\nrequired for authentication with the ConfigHub server. These credentials allow the\nbridge worker to establish a secure connection and receive configuration actions.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BridgeWorker"}}}},"400":{"description":"BridgeWorker request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"BridgeWorker not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing BridgeWorker.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}}},"/bridge_worker/{bridge_worker_id}/stream":{"post":{"tags":["BridgeWorker"],"summary":"Stream events to bridge worker","description":"Establishes an SSE connection with a bridge worker for real-time event streaming","operationId":"StreamBridgeWorker","parameters":[{"name":"bridge_worker_id","in":"path","description":"Unique identifier for a bridge_worker_id","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"default":{"description":"","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/EventMessage"}}}},"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/EventMessage"}}}},"400":{"description":"BridgeWorker request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"BridgeWorker not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing BridgeWorker.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}}},"/change_set":{"delete":{"tags":["ChangeSet"],"summary":"Bulk delete multiple changesets","description":"Delete multiple changesets selected by query parameters","operationId":"BulkDeleteChangeSets","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of ChangeSets returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on ChangeSet: ChangeSetID, CreatedAt, DeleteGates, Description, DisplayName, EndTagID, Labels, OrganizationID, Slug, SpaceID, StartTagID, State, UpdatedAt.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the ChangeSet list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (ChangeSet).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for ChangeSet include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for ChangeSet.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for ChangeSet are EndTagID, OrganizationID, SpaceID, StartTagID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"400":{"description":"ChangeSet request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"ChangeSet not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"422":{"description":"Unable to delete entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing ChangeSet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"get":{"tags":["ChangeSet"],"summary":"List of ChangeSets across spaces","description":"Retrieves a list of ChangeSets across spaces in the Organization","operationId":"ListAllChangeSets","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of ChangeSets returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on ChangeSet: ChangeSetID, CreatedAt, DeleteGates, Description, DisplayName, EndTagID, Labels, OrganizationID, Slug, SpaceID, StartTagID, State, UpdatedAt.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the ChangeSet list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (ChangeSet).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for ChangeSet include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for ChangeSet.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for ChangeSet are EndTagID, OrganizationID, SpaceID, StartTagID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"select","in":"query","description":"Select clause for specifying which fields to include in the response for ChangeSet.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\nIf not specified, all fields are returned.\nEntity and parent IDs (like OrganizationID, SpaceID, ChangeSetID) and Slug are always returned regardless of the select parameter.\nFields used in where and contains filters are also automatically included.\nExample: 'DisplayName,CreatedAt,Labels' will return only those fields plus the required ID and Slug fields.\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedChangeSet"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedChangeSet"}}}}},"400":{"description":"ChangeSet request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"ChangeSet not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing ChangeSet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"patch":{"tags":["ChangeSet"],"summary":"Bulk patch multiple changesets","description":"Apply JSON merge patch to multiple changesets selected by query parameters","operationId":"BulkPatchChangeSets","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of ChangeSets returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on ChangeSet: ChangeSetID, CreatedAt, DeleteGates, Description, DisplayName, EndTagID, Labels, OrganizationID, Slug, SpaceID, StartTagID, State, UpdatedAt.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the ChangeSet list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (ChangeSet).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for ChangeSet include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for ChangeSet.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for ChangeSet are EndTagID, OrganizationID, SpaceID, StartTagID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"type":"object","properties":{"Annotations":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Annotation key/value pairs for tools to attach information to entities.","nullable":true},"DeleteGates":{"type":"object","additionalProperties":{"type":"boolean","nullable":true},"description":"An optional set of gates that, if any is present, will block deletion","nullable":true},"Description":{"type":"string","description":"","nullable":true},"DisplayName":{"type":"string","description":"Friendly name for the entity.","nullable":true},"Labels":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Label key/value pairs to specify identifying attributes of entities for the purpose of grouping and filtering them.","nullable":true},"Slug":{"type":"string","description":"Unique URL-safe identifier for the entity.","nullable":true},"Version":{"type":"integer","description":"An entity-specific sequence number used for optimistic concurrency control. The value read must be sent in calls to Update.","nullable":true}},"description":"JSON Merge Patch schema for ChangeSet. All fields are optional and nullable. Readonly fields are ignored."}}}},"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeSetCreateOrUpdateResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeSetCreateOrUpdateResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeSetCreateOrUpdateResponse"}}}}},"400":{"description":"ChangeSet request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"ChangeSet not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing ChangeSet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"post":{"tags":["ChangeSet"],"summary":"Bulk create (clone) multiple changesets","description":"Clone multiple changesets selected by query parameters with optional name prefixes and destination spaces","operationId":"BulkCreateChangeSets","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of ChangeSets returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on ChangeSet: ChangeSetID, CreatedAt, DeleteGates, Description, DisplayName, EndTagID, Labels, OrganizationID, Slug, SpaceID, StartTagID, State, UpdatedAt.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the ChangeSet list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (ChangeSet).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for ChangeSet include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for ChangeSet.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for ChangeSet are EndTagID, OrganizationID, SpaceID, StartTagID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"name_prefixes","in":"query","description":"Comma-separated list of prefixes to apply to cloned ChangeSet names","required":false,"schema":{"type":"string"}},{"name":"where_space","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Spaces returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Space: CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt.\n\nWhere expression to select destination spaces for cloning changesets\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter_space","in":"query","description":"UUID of a Filter entity to apply to the Space list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Space).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"allow_exists","in":"query","description":"Allowed values are true and false. Default is false. When true, reports success when an entity already exists and returns the existing entity","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"type":"object","properties":{"Annotations":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Annotation key/value pairs for tools to attach information to entities.","nullable":true},"DeleteGates":{"type":"object","additionalProperties":{"type":"boolean","nullable":true},"description":"An optional set of gates that, if any is present, will block deletion","nullable":true},"Description":{"type":"string","description":"","nullable":true},"DisplayName":{"type":"string","description":"Friendly name for the entity.","nullable":true},"Labels":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Label key/value pairs to specify identifying attributes of entities for the purpose of grouping and filtering them.","nullable":true},"Slug":{"type":"string","description":"Unique URL-safe identifier for the entity.","nullable":true},"Version":{"type":"integer","description":"An entity-specific sequence number used for optimistic concurrency control. The value read must be sent in calls to Update.","nullable":true}},"description":"JSON Merge Patch schema for ChangeSet. All fields are optional and nullable. Readonly fields are ignored."}}}},"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeSetCreateOrUpdateResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeSetCreateOrUpdateResponse"}}}}},"207":{"description":"Multi-Status (partial success)","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChangeSetCreateOrUpdateResponse"}}}}},"400":{"description":"ChangeSet request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"ChangeSet not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing ChangeSet.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}}},"/filter":{"delete":{"tags":["Filter"],"summary":"Bulk delete multiple filters","description":"Delete multiple filters selected by query parameters","operationId":"BulkDeleteFilters","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Filters returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Filter: CreatedAt, DeleteGates, DisplayName, FilterID, From, FromSpaceID, Labels, OrganizationID, ResourceType, Slug, SpaceID, UpdatedAt, Where, WhereData.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the Filter list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Filter).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for Filter include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for Filter.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for Filter are FromSpaceID, OrganizationID, SpaceID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DeleteResponse"}}}}},"400":{"description":"Filter request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"Filter not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"422":{"description":"Unable to delete entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing Filter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"get":{"tags":["Filter"],"summary":"List of Filters across spaces","description":"Retrieves a list of Filters across spaces in the Organization","operationId":"ListAllFilters","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Filters returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Filter: CreatedAt, DeleteGates, DisplayName, FilterID, From, FromSpaceID, Labels, OrganizationID, ResourceType, Slug, SpaceID, UpdatedAt, Where, WhereData.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the Filter list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Filter).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for Filter include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for Filter.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for Filter are FromSpaceID, OrganizationID, SpaceID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"select","in":"query","description":"Select clause for specifying which fields to include in the response for Filter.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\nIf not specified, all fields are returned.\nEntity and parent IDs (like OrganizationID, SpaceID, FilterID) and Slug are always returned regardless of the select parameter.\nFields used in where and contains filters are also automatically included.\nExample: 'DisplayName,CreatedAt,Labels' will return only those fields plus the required ID and Slug fields.\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"entity","in":"query","description":"Entity type to filter for (e.g., Unit, Space). Must be specified together with 'id' parameter.","required":false,"schema":{"type":"string"}},{"name":"id","in":"query","description":"Entity ID to filter for. Must be specified together with 'entity' parameter.","required":false,"schema":{"type":"string"}}],"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedFilter"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ExtendedFilter"}}}}},"400":{"description":"Filter request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"Filter not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing Filter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"patch":{"tags":["Filter"],"summary":"Bulk patch multiple filters","description":"Apply JSON merge patch to multiple filters selected by query parameters","operationId":"BulkPatchFilters","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Filters returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Filter: CreatedAt, DeleteGates, DisplayName, FilterID, From, FromSpaceID, Labels, OrganizationID, ResourceType, Slug, SpaceID, UpdatedAt, Where, WhereData.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the Filter list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Filter).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for Filter include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for Filter.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for Filter are FromSpaceID, OrganizationID, SpaceID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-patch+json":{"schema":{"type":"object","properties":{"Annotations":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Annotation key/value pairs for tools to attach information to entities.","nullable":true},"DeleteGates":{"type":"object","additionalProperties":{"type":"boolean","nullable":true},"description":"An optional set of gates that, if any is present, will block deletion","nullable":true},"DisplayName":{"type":"string","description":"Friendly name for the entity.","nullable":true},"From":{"type":"string","description":"","nullable":true},"FromSpaceID":{"type":"string","description":"","format":"uuid","nullable":true},"Labels":{"type":"object","additionalProperties":{"type":"string","nullable":true},"description":"An optional map of Label key/value pairs to specify identifying attributes of entities for the purpose of grouping and filtering them.","nullable":true},"ResourceType":{"type":"string","description":"","nullable":true},"Slug":{"type":"string","description":"Unique URL-safe identifier for the entity.","nullable":true},"Version":{"type":"integer","description":"An entity-specific sequence number used for optimistic concurrency control. The value read must be sent in calls to Update.","nullable":true},"Where":{"type":"string","description":"","nullable":true},"WhereData":{"type":"string","description":"","nullable":true}},"description":"JSON Merge Patch schema for Filter. All fields are optional and nullable. Readonly fields are ignored."}}}},"responses":{"default":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterCreateOrUpdateResponse"}}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterCreateOrUpdateResponse"}}}}},"207":{"description":"Multi-Status: Mixed success and failure results","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterCreateOrUpdateResponse"}}}}},"400":{"description":"Filter request is invalid (Bad Request).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"401":{"description":"Unauthorized access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"403":{"description":"Forbidden access.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"404":{"description":"Filter not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}},"500":{"description":"Something went wrong while processing Filter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StandardErrorResponse"}}}}}},"post":{"tags":["Filter"],"summary":"Bulk create (clone) multiple filters","description":"Clone multiple filters selected by query parameters with optional name prefixes and destination spaces","operationId":"BulkCreateFilters","parameters":[{"name":"where","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Filters returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Filter: CreatedAt, DeleteGates, DisplayName, FilterID, From, FromSpaceID, Labels, OrganizationID, ResourceType, Slug, SpaceID, UpdatedAt, Where, WhereData.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter","in":"query","description":"UUID of a Filter entity to apply to the Filter list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Filter).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"contains","in":"query","description":"Free text search that approximately matches the specified string against string fields and map keys/values.\n\nThe search is case-insensitive and uses pattern matching to find entities containing the text.\n\nSearchable string fields include attributes like Slug, DisplayName, and string-typed custom fields.\n\nFor map fields (like Labels and Annotations), the search matches both map keys and values.\n\nThe search uses OR logic across all searchable fields, so matching any field will return the entity.\n\nIf both 'where' and 'contains' parameters are specified, they are combined with AND logic.\n\nSearchable fields for Filter include string and map-type attributes from the queryable attributes list.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"include","in":"query","description":"Include clause for expanding related entities in the response for Filter.\nThe attribute names are case-sensitive, PascalCase, and\nexpected in a comma-separated list format as in the JSON encoding.\n\nSupported attributes for Filter are FromSpaceID, OrganizationID, SpaceID.\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"name_prefixes","in":"query","description":"Comma-separated list of prefixes to apply to cloned Filter names","required":false,"schema":{"type":"string"}},{"name":"where_space","in":"query","description":"The specified string is an expression for the purpose of filtering\nthe list of Spaces returned. The expression syntax was inspired by SQL.\nIt supports conjunctions using `AND` of relational expressions of the form *attribute*\n*operator* *attribute_or_literal*. The attribute names are case-sensitive and PascalCase,\nas in the JSON encoding.\nStrings support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `LIKE`, `ILIKE`, `~~`, `!~~`, `~`, `~*`, `!~`, `!~*`, `IN`, `NOT IN`.\nString pattern operators: `LIKE` and `~~` for pattern matching with `%` and `_` wildcards,\n`ILIKE` for case-insensitive pattern matching, `!~~` for NOT LIKE.\nString regex operators: `~` for regex matching, `~*` for case-insensitive regex,\n`!~` and `!~*` for regex not matching (case-sensitive and insensitive).\nIntegers support the following operators: `\u003c`, `\u003e`, `\u003c=`, `\u003e=`, `=`, `!=`, `IN`, `NOT IN`.\nUUIDs and boolean attributes support equality and inequality only.\nUUID and time literals must be quoted as string literals.\nString literals are quoted with single quotes, such as `'string'`.\nTime literals use the same form as when serialized as JSON,\nsuch as: `CreatedAt \u003e '2025-02-18T23:16:34'`.\nInteger and boolean literals are also supported for attributes of those types.\nArrays support the `?` operator to to match any element of the array,\nas in `ApprovedBy ? '7c61626f-ddbe-41af-93f6-b69f4ab6d308'`.\nArrays can perform LEN() to check for length, as in `LEN(ApprovedBy) \u003e 0`.\nMap support the dot notation to specify a particular map key, as in `Labels.tier = 'Backend'`.\nThe `IN` and `NOT IN` operators accept a comma-separated list of values in parentheses,\nsuch as `Slug IN ('slugone', 'slugtwo')` or `Labels.environment IN ('prod', 'staging')`.\nConjunctions are supported using the `AND` operator.\nAn example conjunction is:\n`CreatedAt \u003e= '2025-01-07' AND Slug = 'test' AND Labels.mykey = 'myvalue'`.\n\nSupported attributes for filtering on Space: CreatedAt, DeleteGates, DisplayName, Labels, OrganizationID, Slug, SpaceID, UpdatedAt.\n\nWhere expression to select destination spaces for cloning filters\n\nThe whole string must be query-encoded.","required":false,"schema":{"type":"string"}},{"name":"filter_space","in":"query","description":"UUID of a Filter entity to apply to the Space list.\n\nThe Filter must be in the same Organization as the user credentials.\n\nThe Filter's From field must match the entity type being filtered (Space).\n\nFor Space-resident entities, if the Filter has a FromSpaceID, it must match the operation's SpaceID.\n\nThe Filter's Where clause will be combined with any explicit 'where' parameter using AND logic.\n\nIf both 'filter' and 'where' parameters are specified, they are combined with AND logic.","required":false,"schema":{"type":"string"}},{"name":"allow_exists","in":"query","description":"Allowed values are true and false. Default is false. When true, reports success when an entity already exists and returns the existing entity","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/merge-pa
[...]
